{% load static %}

<body>
    <div class="login">
        <link rel="stylesheet" type="text/css" href='{% static "user/style.css" %}' />
        <div class="login-screen">
            <div class="app-title">
                <h1>Login</h1>
            </div>

            <form method="POST">
                {% csrf_token %}
                <div class="login-form">
                    <div class="control-group">
                        <label class="login-field" for = "id_email" id="login-name"> Email </label> {{form.email}}
                        {{form.email.errors}}
                    </div>

                    <div class="control-group">
                        <label class="login-field" type="password" for = "id_password" id="login-pass"> Password </label> {{form.password}}
                        {{form.password.errors}}
                    </div>

                    <input class="btn btn-primary btn-large btn-block" type = "submit" value = "Login" / >
                    <a class="login-link" href="http://accounts.magic.local:8000/api/v1/user/magic_link/">Click here to get magic link</a>
                    <a class="login-link" href="http://accounts.magic.local:8000/api/v1/user/register/">Create Account?</a>
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>
</body>
